<h2></h2>
<div class="card" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title"> New Post </h5>

      <%= form_for(@post) do |form| %>
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>
     <div class="form-group">
        <%= form.label :body %>
        <%= form.text_area :body, class: 'form-control' %>
      </div>
    
      <ul>
        <%= form.fields_for :forwards do |forward_form| %>
          <li>
            <%= forward_form.label :user_id, "Share with" %>
            <%= forward_form.number_field :user_id, class: 'form-control' %>
          </li>
        <% end %>
      </ul>
    
      <div class="actions">
        <%= form.submit "create", class: 'btn btn-primary' %>
      </div>
    <% end %>


  </div>
</div>
<%= link_to 'Back', posts_path %>
